@using Radzen.Blazor
@using Scrummy.DataAccess.Contracts.Models

@page "/ReleaseReport"
<h1>ReleaseReport</h1>

<RadzenDropDown AllowClear="true" TValue="ReleaseInfo" 
                Data="@_releaseInfos"
                TValue="ReleaseInfo"
                TextProperty="Title"
                Change="@OnChange" 
                @bind-value="_selectedReleaseInfo"
                Placeholder="Select..."/>

<div style="display: flex; justify-content: flex-start; width: 90vw; flex-wrap: wrap">
    <ReleaseBurnDownChart Stories="@Stories" StartDate="@ScrumConfig.ProjectStart"/>
</div>

<div style="display: flex; justify-content: flex-start; width: 90vw; flex-wrap: wrap; gap: 10px">
    <ItemsOverview Title="Completed" Items="@ClosedItems"/>
    <ItemsOverview Title="Open" Items="@OpenItems"/>
</div>