@page "/ScrumDashboard"
@using Scrummy.Scrum.Contracts.Enums

<h1>Scrum Dashboard</h1>

@* <div style="display: flex; justify-content: flex-start; width: 90vw; flex-wrap: wrap"> *@
<div style="margin-top: 10px; display: flex; justify-content: flex-start; width: 90vw; flex-wrap: wrap; gap: 10px">
    <BurnDownChart Stories="@_stories" Title="Release"/>
    <ReleaseBurnUpChart Stories="@_stories" StartDate="@ScrumConfig.ProjectStart"/>
    <Velocity Stories="@_stories" SprintLength="@ScrumConfig.SprintLength" StartDate="@ScrumConfig.ProjectStart"/>
    <Throughput />
    <ItemsChart Items="@_items" ItemType="@ItemType.Story"/>
    <ItemsChart Items="@_items" ItemType="@ItemType.Bug"/>
    <ItemsChart Items="@_items" ItemType="@ItemType.Other"/>
    <AgedItemsOverview LateItemDaysThreshold="60" />
</div>