@page "/ScrumDashboard"

<h3>Scrum Dashboard</h3>

<div style="display: flex; justify-content: flex-start; width: 90vw; flex-wrap: wrap">
    <Velocity Stories="@_stories" SprintLength="@_sprintLength" StartDate="@_startDate"/>
    <BurnUpChart Stories="@_stories" StartDate="@_startDate"/>
    <BurnDownChart Stories="@_stories" StartDate="@_startDate"/>
    <IssuesChart Issues="@_issues" Label="Story"/>
    <IssuesChart Issues="@_issues" Label="Bug"/>
    <IssuesChart Issues="@_issues"/>
    <StoriesOverview Stories="@_stories"/>
</div>