@using Radzen.Blazor
@using Scrummy.DataAccess.Contracts.Enums
@using Scrummy.Scrum.Contracts.Enums
@using Scrummy.Scrum.Contracts.Models

<RadzenCard Style="width: 100%; padding-top: 5px; padding-right: 5px; ">
    <div style="text-align: start">@Item.Title</div>
    
    @* Adding story points badge, if story points are available. *@
    @if (Item is Story story && story.StoryPoints != null)
    {
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
            @story.StoryPoints SP
        </span>
    }
    
    @* Item type badge *@
    <div style="display: flex; margin-top: 5px;">
        
        @if (Item.Type == ItemType.Bug)
        {
            <div class="badge bg-danger rounded-pill" style="text-align: start">@Item.Type</div>
        }
        else if(Item.Type == ItemType.Story)
        {
            <div class="badge bg-primary rounded-pill" style="text-align: start">@Item.Type</div>
        }
        else
        {
            <div class="badge bg-secondary rounded-pill" style="text-align: start">@Item.Type</div>
        }
        
    </div>
</RadzenCard>