@using Radzen.Blazor
@using Radzen
@using Scrummy.DataAccess.Contracts.Enums
@using Scrummy.Scrum.Contracts.Enums
@using Scrummy.Scrum.Contracts.Models

<RadzenCard Style="width:500px; height:550px;">
    
    <h5 class="card-title">Issues Overview</h5>
    
    <br>
    
    <RadzenDataGrid @ref="_itemsGrid"
                    AllowFiltering="true"
                    AllowPaging="true"
                    PageSize="10"
                    AllowSorting="true"
                    Data="@_itemsGroups"
                    TItem="IGrouping<ItemType, Item>">
        <Columns>

            <RadzenDataGridColumn TItem="IGrouping<ItemType, Item>"
                                  Property="State"
                                  Title="Item"
                                  TextAlign="TextAlign.Center">
                <Template Context="data">
                    @data.Key
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="IGrouping<ItemType, Item>"
                                  Property="State"
                                  Title="Opened"
                                  TextAlign="TextAlign.Center">
                <Template Context="data">
                    @($"{data.Count(i => i.State == WorkflowState.Opened)}")
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="IGrouping<ItemType, Item>"
                                  Property="State"
                                  Title="Closed"
                                  TextAlign="TextAlign.Center">
                <Template Context="data">
                    @($"{data.Count(i => i.State == WorkflowState.Closed)}")
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="IGrouping<ItemType, Item>"
                                  Property="State"
                                  Title="Total"
                                  TextAlign="TextAlign.Center">
                <Template Context="data">
                    @($"{data.Count()}")
                </Template>
            </RadzenDataGridColumn>

        </Columns>
    </RadzenDataGrid>
</RadzenCard>