@using Radzen.Blazor
@using Radzen
@using Humanizer
@using Scrummy.DataAccess.Contracts.Enums

<RadzenCard Style="width:500px;">

    <h3>@ItemType</h3>
    
    <div class="row">
        <b class="col">Opened: @(_countOfOpened)</b>
        <b class="col">Closed: @(_countOfClosed)</b>
    </div>
    
    <RadzenChart>
        <RadzenLineSeries Smooth="@_smooth"
                          Data="@_opened"
                          CategoryProperty="X"
                          Title="Opened"
                          ValueProperty="Y">
            <RadzenMarkers MarkerType="MarkerType.None" />
        </RadzenLineSeries>
        <RadzenLineSeries Smooth="@_smooth"
                          Data="@_closed"
                          CategoryProperty="X"
                          Title="Closed"
                          ValueProperty="Y">
            <RadzenMarkers MarkerType="MarkerType.None" />
        </RadzenLineSeries>
    
        <RadzenCategoryAxis Padding="20" FormatString="{0:MMM}" />
    
        <RadzenValueAxis>
            <RadzenGridLines Visible="true" />
            <RadzenAxisTitle Text="Items" />
        </RadzenValueAxis>
    </RadzenChart>
    
</RadzenCard>

