@using Radzen.Blazor

<RadzenCard Style="width:500px;">

    <h3 class="card-title">Pass-Through</h3>

    <b>Story (Average): @AverageStoryThroughputTime</b>
    <b>Story (Best): @BestStoryThroughputTime</b>
    <b>Story (Worst): @WorstStoryThroughputTime</b>
    <br/>
    <b>Bug (Average): @AverageBugThroughputTime</b>
    <b>Bug (Best): @BestBugThroughputTime</b>
    <b>Bug (Worst): @WorstBugThroughputTime</b>
    <br/>
    <b>Other (Average): @AverageOtherThroughputTime</b>
    <b>Other (Best): @BestOtherThroughputTime</b>
    <b>Other (Worst): @WorstOtherThroughputTime</b>
    
</RadzenCard>