@using Radzen.Blazor
@using Scrummy.Scrum.Contracts.Models

@page "/ReleaseReport"
<h1>Release Report</h1>

<RadzenDropDown AllowClear="true"
                Data="@_releaseInfos"
                TValue="ReleaseInfo"
                TextProperty="Title"
                Change="@OnChange" 
                @bind-value="_selectedReleaseInfo"
                Placeholder="Select..."
                Style="width:500px;"/>

<div style="display: flex; justify-content: flex-start; width: 90vw; flex-wrap: wrap">
    <BurnDownChart Stories="@Stories" Title="Release" DueDate="@_dueDate"/>
</div>

<div style="margin-top: 10px; display: flex; justify-content: flex-start; width: 90vw; flex-wrap: wrap; gap: 10px">
    <ItemsOverview Title="Completed" Items="@ClosedItems"/>
    <ItemsOverview Title="Open" Items="@OpenItems"/>
    <ItemPieChart Items="@TotalItems" Title="Release"/>
</div>